<!-- <header
  class="topbar"
  [attr.data-navbarbg]="options.navbarbg"
  style="  background: #ffffff;height: 60px;position: fixed;width:100%;"
>
  <nav
    class="navbar navbar-expand-lg navbar-light bg-white navbar-custom border-bottom"
    style="background: #f5821f !important; height: 60px"
  >
    <img
      alt="img"
      src="assets/images/ICICIlogo.png"
      style="width: 173px;
      height: 39px;"
      class="img-fluid "
    />
    <button
      class="navbar-toggler"
      type="button"
      (click)="toggleNavbar()"
      style="justify-content: right;"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div
      class="collapse navbar-collapse pl-20 "
      [ngClass]="{ show: navbarOpen }"
      style="padding-left: 45%;"
    >
      <ul class="navbar-nav mr-auto" style="padding-left:38%;">
        <li class="nav-item">
          <a [routerLink]="['/authentication/Home']"
            ><span
              class="m-10 p-r-20"
              style="font-size: 16px;font-family: Arial,Helvetica,sans-serif;color:white !important;"
              >Home</span
            ></a
          >
        </li>
        <li>
          <a
            ><span
              class="m-10 p-r-20"
              style="font-size: 16px;font-family: Arial,Helvetica,sans-serif;color:white !important;"
              >My Account</span
            ></a
          >
        </li>
        <li>
          <a [routerLink]="['/authentication/Home']"
            ><span
              class="m-10 p-r-20"
              style="font-size: 16px;font-family: Arial,Helvetica,sans-serif;color:white !important;"
              >Logout</span
            ></a
          >
        </li>
      </ul>
    </div>
  </nav>
</header> -->

<div class="card">
  <div class="card-body m-t-10 m-r-10">
    <div>
      <span style="font-size: 20px;">
        <div class="row">
          <p class="col-md-6 col-sm-12">
            <!-- changes by sanchita 12-December sit page changes -->
              <strong >App Name : </strong>  {{ projectValue.projectName }}
          </p>
          <p class="col-md-6 col-sm-12">
              <strong>Client Code : </strong>{{ clientCode }}</p>
        </div>
        <div class="row">
          <p class="col-md-6 col-sm-12">
              <strong >Version : </strong>{{ projectValue.version }}</p>
          <p class="col-md-6 col-sm-12">
              <strong>Product Name : </strong> {{ projectValue.productName }}
          </p>
        </div>
      </span>
    </div>
  </div>
</div>
<hr color="#f5821f" />
<!-- Tabset Starts here -->
<ngb-tabset
  type="pills"
  class="custom-pills nav-justified mainTabset"
  #t="ngbTabset"
  [(activeId)]="exp"
>
  <ngb-tab id="sit" title="SIT" [destroyOnHide]="hideShow">
    <ng-template ngbTabContent>
        <div class="row"  style="margin:1%;">
            <div class="col-md-2" *ngIf="displayInitiateSITButton">
                <button type="button" (click)="initiatesSITButton()" class="btn btn-success">
                     Initiate SIT
                  </button>
            
            </div>
            <!-- <div class="col-md-2">
                <button type="button" (click)="initiatesSIT()" class="btn btn-success">
                     SIT Certified{{hideShow}}
                  </button>
            
            </div> -->
          
            </div>
            <div class="card-body">
              <h2 id="api" style="font-family: Arial, Helvetica, sans-serif;font-size: 16px;"> <strong>Sample File:</strong></h2><br>
              <label for="api" style=" width: 80%; ">{{labelValue}}</label>
             <br>
             <div class="container " style="margin-left: -13px; margin-top: 20px; " >
                <div class="row">
                <div class="col-6">
                <h3 style="font-family: sans-serif;">Request</h3><br>
   
    <textarea name="" id="" cols="50" rows="18" readonly>{{valueOfRequest | json }}</textarea>
                </div>
                <div class="col-6" style="margin-left: -35px;">
                <h3 style="font-family: sans-serif;">Response</h3><br>
                <textarea name="" id="" cols="50" rows="18" readonly>{{responseMessage | json}}</textarea>
                </div>
                
                </div>
                </div><br>
              <!-- changes by sanchita upto 137 -->
              <div *ngIf="showButton == true">
                <button class="btn" style="color:#ffffff;background: #053c6d;font-size: 16px;font-family: Arial, Helvetica, sans-serif;margin-left: 60%;margin-top: 20px; height: 80%; width: 12%;" [disabled]="showButton" (click)="nextTab('uat')">Ready for UAT</button>
          
              </div>
              <div *ngIf="showButton == false">
                <button class="btn" style="color:#ffffff;background: #053c6d;font-size: 16px;font-family: Arial, Helvetica, sans-serif;margin-left: 60%;margin-top: 20px; height: 80%; width: 12%;" [disabled]="valueOfUAT" (click)="nextTab('uat')">Ready for UAT</button>

              </div>
              
              </div>
              
            <!-- <div class="card-body">
                <div class="row">
                <table class="table col-md-8">
                <thead class="thead-light">
                <tr>
                <th scope="col">No.</th>
                <th scope="col">DevOps Operations</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let data of displayActivities; let i = index">
                <th>{{ i + 1 }}</th>
                <td>{{ data.activity }}</td>
                </tr>
                </tbody>
                </table>
                <table class="table col-md-4">
                  <thead class="thead-light">
                  <tr>
                  <th scope="col">Status</th>
                  </tr>
                  </thead>
                  <tbody>
                   
                  <tr *ngFor="let data of LiveAuditTrailData; let i = index">
                
                  <td *ngIf="data.status != '';else notsuccess">{{data.status}}</td>
              <ng-template #notsuccess>
                  <td>
                      IN Progress
                  </td>
              </ng-template>
                 
                </tr>
                  </tbody>
                  </table>
                </div>
                </div> -->
    </ng-template>
  </ngb-tab>
  <ngb-tab id="uat" title="UAT">
    <ng-template ngbTabContent>
      <!-- changes made by sanchita upto 204 -->
      <div class="row" style="margin:1%;" >
        <div class="col-md-2" *ngIf="showButton == true">
          <button
          [disabled]="showButton"
            class="btn"
            (click)="initiatesUAT()"
            style="color:#ffffff;background: #053c6d;font-size: 16px;font-family: Arial, Helvetica, sans-serif;"
          >
            <span>Initiate UAT </span>
          </button>
        </div>
     
        
        <div class="col-md-2" *ngIf="showButton == false">
          <button
          [disabled]="UatInitiated"
            class="btn"
            (click)="initiatesUAT()"
            style="color:#ffffff;background: #053c6d;font-size: 16px;font-family: Arial, Helvetica, sans-serif;"
          >
            <span>Initiate UAT </span>
          </button>
        </div>
      
        <div class="col-md-2">
           <a [routerLink]="['/authentication/Profile']" [queryParams]="{ tab: 'Go_Live'}"><button
          
            [disabled]="UatProgress"
              class="btn "
              style="color:#ffffff;background: #053c6d;font-size: 16px;font-family: Arial, Helvetica, sans-serif;"
          
              >
              <span>Certify UAT</span>
            </button>
            </a>
          </div>
        </div>
        <br />

        <div class="card-body">
            <div class="row">
            <table class="table col-md-8">
            <thead class="thead-light">
            <tr>
            <th scope="col">No.</th>
            <th scope="col">DevOps Operations</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let data of displayActivities; let i = index">
            <th>{{ i + 1 }}</th>
            <td>{{ data.activity }}</td>
            </tr>
            </tbody>
            </table>
            <table class="table col-md-4">
            <thead class="thead-light">
            <tr>
            <th scope="col">Status</th>
            </tr>
            </thead>
            <tbody>
             
            <tr *ngFor="let data of LiveAuditTrailUATData; let i = index">
            <td>{{ data.status }}</td>
            </tr>
            </tbody>
            </table>
            </div>
            </div>
      
      
      
    </ng-template>
  </ngb-tab>
  <!-- <ngb-tab id="production" title="Production">
    <ng-template ngbTabContent>
      <div class="card-body">
        <div class="col-md-4">
          <button
            class="btn "
            style="color:#ffffff;background: #053c6d;font-size: 16px;font-family: Arial, Helvetica, sans-serif;"
          >
            <span>Initiate Production</span>
          </button>
        </div>
        <br />
        <table class="table">
          <thead class="thead-light">
            <tr>
              <th scope="col">No.</th>
              <th scope="col">DevOps Operations</th>
              <th scope="col">Status</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of displayActivities; let i = index">
              <th scope="row">{{ i + 1 }}</th>
              <td>{{ data.activity }}</td>
              <td *ngIf="initiateUATFlag == 'false'">NOT STARTED</td>
              <td *ngIf="initiateUATFlag == 'true'">IN PROCESS</td>

          
            </tr>
          </tbody>
        </table>
        <br />
      
      </div>
    </ng-template>
  </ngb-tab> -->
</ngb-tabset>

<!-- Tabset ends here -->
<!-- <hr color="#f5821f" />
<div class="row">
  <p style="margin-left: 30px;font-size: 40px;">App Status</p>
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <ul class="timeline timeline-left">
          <li
            class="timeline-inverted timeline-item"
            *ngFor="
              let activity of auditTrailData | slice: 0:show;
              let i = index
            "
          >
            <div class="timeline-badge success">
              <i class="fas fa-thumbs-up"></i>
            </div>

            <div class="timeline-panel" style="background-color: #f1f1f1;">
              <div class="timeline-heading">
                <h4 class="timeline-title">
                  {{ activity.status }}
                </h4>
              </div>
              <div class="timeline-body">
                <p>{{ activity.timeStamp }}</p>
              </div>
            </div>
          </li>
        </ul>
        <div
          class="row"
          *ngIf="show < recentActivity.length"
          (click)="increaseShow()"
        >
          <button class="btn pageButtons m-10 w-100" type="button">
            <span>View More Activity</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<hr class="line" />
<footer class="footer text-right" id="footerCss">
  <p style="color: black">Â© 2018 ICICI. API Developer</p>
</footer>
-->